html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1220px;
    /* font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif; */
}
.el-card {
    margin-top: 15px;
    /* 样式不生效情况下使用 */
    box-shadow:0 1px 1px rgba(0,0,0,.15)!important;
}
.el-table{
    margin-top:15px;
    text-align:center!important;
}